<div id= "<%=@count%>" class="tab-pane fade">
  <div class="nested-fields">
    <div class="field">

      <%= f.label :title %>
      <br>
      <%= f.text_field :title %>
      <br>
      <br>
      <%= f.label :text %>
      <br>
      <%= f.text_area :text, :class => "full-width-input" %>
      <br>
      <%= link_to "delete chapter", delete_chapter_path(book_id: @book.id, chapter_id: @book.chapters[@count].id), remote: true%>
    </div>

  </div>

</div>
