

<p id="notice"><%= notice %></p>
<h1><%= @book.title %></h1>
<!--h2 Добавить линк на user page -->
<h2>By  <%= @book.user_id %></h2>


<div class="row containter">
  <div class="col-md-12 col-lg-12 col-sm-12 ">
    <h3>Chapters:</h3>
    <ul>
      <% @book.chapters.each do |c| %>
          <!-- обернуть в button to на ридер -->
          <%= render 'books/chapter_preview', f: c %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-12 col-lg-12 col-sm-12 links-container">
    <%if current_user %>
        <%= link_to 'Edit', edit_user_book_path(user_id: current_user.id, id: @book) %>
    <% end %>
    <%= link_to 'Back', user_path(@book.user_id) %>
  </div>
</div>