<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Author:</strong>
  <%= @book.user_id %>
</p>

<h3>Chapters:</h3>
<ul>
<% @book.chapters.each do |c| %>
<li>1 </li>
<% end %>
</ul>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
